SimpleMessage/src/main/resources/SimpleSchema.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="key1"/>
              <xs:element type="xs:string" name="key2"/>
              <xs:element type="xs:string" name="key3"/>
              <xs:element type="xs:string" name="key4"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>